/*------------- #WIDGETS --------------*/
/*------------- #VARIABLES --------------*/
/*------------- #WIDGETS --------------*/
.widget {
  margin-bottom: 20px; }

form.w-search {
  position: relative; }
  form.w-search button.icon {
    position: absolute;
    right: 30px;
    top: 15px;
    font-size: 26px;
    color: #e1e1e1;
    background: transparent; }

.w-post-category .heading {
  margin-bottom: 40px; }

.w-post-category .post-category-wrap .category-post-item {
  color: #acacac;
  margin-bottom: 30px; }
  .w-post-category .post-category-wrap .category-post-item .post-count {
    font-size: 14px;
    margin-right: 30px;
    transition: all .3s ease;
    width: 20px;
    display: inline-block;
    float: left;
    clear: both;
    position: relative;
    top: 2px; }
  .w-post-category .post-category-wrap .category-post-item a {
    font-size: 16px;
    color: #acacac;
    transition: all .3s ease;
    position: relative;
    display: block;
    overflow: hidden; }
    .w-post-category .post-category-wrap .category-post-item a i {
      margin-left: 5px;
      opacity: 0;
      transition: all .3s ease;
      color: #4cc2c0;
      position: relative;
      font-size: 12px; }
  .w-post-category .post-category-wrap .category-post-item:hover .post-count {
    color: #2f2c2c; }
  .w-post-category .post-category-wrap .category-post-item:hover a {
    color: #4cc2c0; }
    .w-post-category .post-category-wrap .category-post-item:hover a i {
      opacity: 1; }

.w-about .heading .heading-title {
  line-height: 1.2;
  margin-bottom: 5px; }

.w-about .heading .heading-line {
  margin-bottom: 25px; }

.w-about .heading p {
  margin-bottom: 30px;
  line-height: 1.4; }

.w-request {
  padding: 60px 30px;
  border-radius: 10px;
  border-color: transparent;
  text-align: center; }
  .w-request .w-request-content img {
    margin-bottom: 30px; }
  .w-request .w-request-content .w-request-content-title {
    margin-bottom: 20px; }
    @media (max-width: 1024px) {
      .w-request .w-request-content .w-request-content-title {
        font-size: 22px; } }
  .w-request .w-request-content .w-request-content-text {
    color: #fff;
    font-size: 16px;
    margin-bottom: 30px; }

.w-latest-news .latest-news-wrap {
  margin-bottom: 10px; }
  .w-latest-news .latest-news-wrap .latest-news-item {
    padding: 20px 0;
    border-bottom: 2px solid #f7f9f9; }
    .w-latest-news .latest-news-wrap .latest-news-item:last-child {
      border-bottom: none; }
    .w-latest-news .latest-news-wrap .latest-news-item .post-additional-info {
      margin-bottom: 20px; }
      .w-latest-news .latest-news-wrap .latest-news-item .post-additional-info .post__date {
        padding: 0;
        float: none;
        margin-right: 30px;
        display: inline-block;
        margin-bottom: 0; }
        .w-latest-news .latest-news-wrap .latest-news-item .post-additional-info .post__date i {
          font-size: 20px;
          margin-right: 10px;
          transition: all .3s ease; }
    .w-latest-news .latest-news-wrap .latest-news-item .post__title {
      font-size: 20px; }
      .w-latest-news .latest-news-wrap .latest-news-item .post__title:hover {
        color: #4cc2c0; }

.w-follow .heading {
  margin-bottom: 40px; }

.w-follow .w-follow-wrap .w-follow-item {
  padding: 12px 15px 12px 40px;
  display: inline-block;
  min-height: 60px;
  width: 100%;
  position: relative; }
  @media (max-width: 1024px) {
    .w-follow .w-follow-wrap .w-follow-item {
      padding: 15px; } }
  .w-follow .w-follow-wrap .w-follow-item .w-follow-social__item {
    margin-right: 20px;
    display: inline-block; }
    .w-follow .w-follow-wrap .w-follow-item .w-follow-social__item i {
      color: #fff;
      font-size: 30px; }
  .w-follow .w-follow-wrap .w-follow-item .w-follow-title {
    display: inline-block;
    color: #fff;
    background-color: inherit; }
    .w-follow .w-follow-wrap .w-follow-item .w-follow-title .w-follow-add {
      display: inline-block;
      width: 60px;
      height: 100%;
      line-height: 60px;
      text-align: center;
      position: absolute;
      right: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.1); }
      .w-follow .w-follow-wrap .w-follow-item .w-follow-title .w-follow-add i {
        font-size: 15px;
        color: #fff;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%); }
        .w-follow .w-follow-wrap .w-follow-item .w-follow-title .w-follow-add i.plus {
          opacity: 1; }
        .w-follow .w-follow-wrap .w-follow-item .w-follow-title .w-follow-add i.check {
          opacity: 0; }
      .w-follow .w-follow-wrap .w-follow-item .w-follow-title .w-follow-add.active i.plus {
        opacity: 0; }
      .w-follow .w-follow-wrap .w-follow-item .w-follow-title .w-follow-add.active i.check {
        opacity: 1; }

.w-tags {
  overflow: hidden; }
  .w-tags .heading {
    margin-bottom: 40px; }
  .w-tags .tags-wrap a {
    padding: 10px 15px;
    font-size: 15px;
    color: #acacac;
    border: 2px solid #dddede;
    border-radius: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
    transition: all .3s ease; }
    @media (max-width: 1024px) {
      .w-tags .tags-wrap a {
        padding: 10px 20px; } }
    .w-tags .tags-wrap a:hover {
      background-color: #4cc2c0;
      color: #fff;
      border-color: #4cc2c0; }

@media (max-width: 768px) {
  .sidebar .widget:first-child {
    margin-top: 40px; } }

.widget.contacts .contacts-icon {
  max-width: 48px;
  max-height: 48px; }

.visual-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
